/* In What We Do section: Align icon to the left */
#what .items .item {
    display: flex;
    text-align: left;
}

/* Position icon */
#what .items .item i{
    margin-right: 1.2rem;
    /* Align icon to the center of the background-color */
    align-self: center;
    /* Clear the margin-bottom */
    margin-bottom: 0;
}

/* Contact Us form: we want the maps takes more spaces */
/* #contact div:nth-child(2){ */
#contact .map{
    flex: 2;
}